fp*
KiCAD_Files/micro_inverter-backups/*
KiCAD_Files/aluminum_pcb-backups/*
KiCAD_Files/film_capacitors-backups/*
KiCAD_Files/production/*
Symbols.bak
replicate_layout.log
*.kicad_sch.lck
*.kicad_pcb.lck
