fp*
KiCAD_Files/uVerter-backups/*
KiCAD_Files/film_capacitors-backups/*
KiCAD_Files/production/*
Symbols.bak
replicate_layout.log
*.kicad_sch.lck
*.kicad_pcb.lck
fabrication-toolkit-options.json
calculation_notes/*
